@CHARSET "ISO-8859-1";

html,body{height:100%}

.container {
	padding-bottom:70px;
}

.pagebox {
	position:relative;
}

/*.imagebox {
	height:100%;
}*/

.contentbox {
	position:absolute;
	top:40%;
	width:60%;
	margin-left:20%;
	font: 30px/40px 'Pacifico', Georgia, serif;
	color:#f1c40f;
	text-transform:capitalize;
	opacity: 1;	
}

.content1 {
	position:absolute;
}

.buttonbox{
	 width: 250px; 
	/* height:230px; */
	margin:auto;	
	position:fixed;
	right:100px;
	bottom:100px; 
	/* left: 0px;
	right:0px; */
	
}

.buttonbox .link{
	width:205px;
	/* height:230px; */
	float:left;
	margin:0 20px;	
}

.link .icon{
	display:inline-block;
	width:100%;
	height:150px;
	transition:all 0.2s ease-out ;
	-moz-transition:all 0.2s ease-out ;
	-webkit-transition:all 0.2s ease-out ;
	-o-transition:all 0.2s ease-out ;
}

.link-miss .icon{
	height:100px;
	weight:100px;
	background: url(../images/logo/logo-new.png) no-repeat center center;	
	background-size: 65px 70px ;
}

.link .icon:hover {
	transform:rotate(360deg) scale(1.2);
	-ms-transform: rotate(360deg) scale(1.2);
	-moz-transform: rotate(360deg) scale(1.2);
	-webkit-transform: rotate(360deg) scale(1.2);
	-o-transfrom: rotate(360deg) scale(1.2);
}

.button {
	display:inline-block;
	width:180px;
	height:50px;
	line-height:50px;
	text-decoration:none;
	color:#2DCB70;
	font-family:Arial;
	font-weight:bolder;
	border:2px solid rgba(0,0,0,0.5);
	padding-left:20px;
	margin:0 auto;
	position:relative;
	box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	background:url(../images/logo/arrow1.png) no-repeat 90px center;
	transition:all 0.4s ease ;
	-moz-transition:all 0.4s ease ;
	-webkit-transition:all 0.4s ease ;
	-o-transition:all 0.4s ease ;	
}

.button:hover {
	border:2px solid rgba(0,0,0,1);
	background-position:100px center;
}

.button .line{
	display:block;
	position:absolute;
	background:none;
	transition:all 0.4s ease ;
	-moz-transition:all 0.4s ease ;
	-webkit-transition:all 0.4s ease ;
	-o-transition:all 0.4s ease ;	
}

.button:hover .line{
	background:#fff;
}

.button .line-top{
	height:2px;
	width:0px;
	left:-110%;
	top:-2px;
}

.button:hover .line-top{
	width:100%;
	left:-2px;
}

.button .line-right{
	width:2px;
	height:0px;
	right:-2px;
	top:-110%;
}

.button:hover .line-right{
	height:100%;
	top:-2px;
}

.button .line-bottom{
	height:2px;
	width:0;
	right:-110%;
	bottom:-2px;
}

.button:hover .line-bottom{
	width:100%;
	right:-2px;
}

.button .line-left{
	width:2px;
	height:0;
	left:-2px;
	bottom:-110%;
}

.button:hover .line-left{
	height:100%;
	bottom:-2px;
}














